* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif ;
}
.container{
	max-width: 1320px;
	margin: 0 auto;
	padding: 0 20px;
}
a{
	text-decoration: none;
	color: unset;
}
ul{
	list-style: none;
}
.ql-container, .ql-editor{
	height: 320px;
}