@import "../utils/_mixins";
@import "../utils/_variables";
.wrapper{
    .post__wrapper{
        display: grid;
        justify-content: center;
        gap: 25px;
        padding-bottom: 20px;
        margin-top: 15px;
    }
    .author{
        @include FontStyle(14px, 600);
        font-style: italic;
        padding: 10px 0 20px;
    }
    .read__more__btn{
        position: absolute;
        right: 0;
        bottom: 0;
        border: none;
        padding: 5px 15px;
        background-color: $yankeesBlue;
        @include FontStyle(16px, 500, "", $white);
        border-radius: 10px 0 10px 0;
    }
}
@include Responsive(medium){
    .wrapper{
        .post__wrapper{
            grid-template-columns: repeat(2, auto);
            gap: 20px;
        }
    }
}
@include Responsive(large){
    .wrapper{
        .post__wrapper{
            grid-template-columns: repeat(3, auto);
            gap: 20px;
        }
        .read__more__btn{
            cursor: pointer;
        }
    }
}